body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    border: 10px;
}

button {
    background-color: rgb(0, 153, 0);
}

h1, h2,h3,h4,h5 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

img {
    width: 100%;
}