html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #EEEEEE;
    max-width: 1000px;
    margin: 70px auto;
}

.site-title {
    /* display: inline-block; */ /*for the test?!?!*/
    font-weight: bold;
    text-transform: uppercase;
}

.hr-heading {
    border-top: 3.5px solid black;
}

.first-img {
    float: right;
    margin: 16px 0px 0px 10px;
}

.second-img {
    float: left;
    margin: 0 16px 0 0px;
}

img {
    max-width: 180px;
    border: 2px solid black;
    padding: 8px;
    background-color: white;
    box-shadow: 1px 1px 12px 3px;
}


.main-container {
    margin-top: 30px;
}

.main-container-quote{
    color: #545655;
    font-style: italic;
    border-left: 3px solid #DDDDDD;
    max-width: 450px;
    float: right;
    padding-left: 20px;
}

.main-container-quote-author {
    text-align: right;
}


header {
    display: inline-block;
}